@model List<Empleado>

<h1>Empleados LINQ To SQL</h1>

<a asp-controller="Empleados"
    asp-action="BuscadorEmpleados">
    Buscar empleados
</a>

<table class="table table-info">
    <thead>
        <tr>
            <th>Apellido</th>
            <th>Oficio</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Empleado emp in Model)
        {
            <tr>
                <td>@emp.Apellido</td>
                <td>@emp.Oficio</td>
                <td>
                    <a asp-controller="Empleados"
                        asp-action="Details"
                        asp-route-idempleado="@emp.IdEmpleado"
                        class="btn btn-outline-dark">
                        Details
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>